body {
    color: #40514E;
    font-size: large;
    margin: 0;
    text-align: center;
    font-family: 'Fauna One', serif;
}

.name_occupation{
    color: #66BFBF;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-style: italic;
    color: #11999E;
    font-size: 5.625rem; /* 16px = 100% = 1em -> 90px/16=562.5% ("rem"=root em) */
    margin: 50px auto 20px auto;
    
}

h2 {
    color: #66BFBF;
    font-family: 'Playfair Display', serif;
    color: #11999E;
    font-size: 2.8125rem; /* 16px = 1em, 40px = x (?) -> 40/16=2.5 rem */
    font-weight: bold;
    padding-bottom: 10px;
}

h3 {
    color: #66BFBF;
    font-size: 1.75rem;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

p {
    line-height: 2;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a {
    color: #11999E;
    font-family: 'Fauna One', serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.top-container {
    position: relative;
    padding-top: 50px;
}

.ce-student {
    width: 25%;
    height: auto;
    margin-top: ;
}


.middle-container {
    margin: 100px auto 100px auto;
}

.subtitle {
    font-size: 45px;
    color: #40514E;
    font-weight: normal;
    margin: 1% auto 1%;
    font-family: 'Fauna One', serif;
}

.occupation {
    font-weight: bold;
    color: #11999E;
    padding: 0 5px;
    background: linear-gradient(
        to bottom,
        transparent 50%,
        #d6f0f0 50%
    );
} 

.text {
    margin: 10% auto;
    text-align: left;
}

.pfp {
    width: 300px;
    height: auto;
}

.skill_name {
    color: #11999E;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.projects-title {
    color: #11999E;
    margin: 0 auto 5rem;
}

.projects-link {
    color: #66BFBF;
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
    
}

.projects-link:hover {
    color: #40514E;
    
}

.footer-link {
    color: #11999E;
}

.intro {
    width: 35%;
    margin: auto;
}

.contact-message {
    width:40%;
    margin: 40px auto 60px;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0px;
}

.coding_icon {
    width: 25%;
    height: auto;
    float: left; /* use float only to wrap text */
    margin-right: 30px;
}

.product_design_icon {
    width: 25%;
    height: auto;
    float: right;
    margin-left: 30px;
}

.proj-pic {
    width: 20rem
}

.proj-title {
    font-size: 1.5rem;
    color: white;
}

.proj-link {
    box-shadow: inset 0 0 0 0 #d6f0f0;
    color: #d6f0f0;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.proj-link:hover {
    box-shadow: inset 200px 0 0 0 #11999e;
    color: white;
}

.project-scroller {
    /* for padding, gap and space btw img and title, etc */
    --_spacer: 1rem; 
    display: grid;
    gap: var(--_spacer);
    grid-auto-flow: column;
    grid-auto-columns: 21%;

    padding: 0 var(--_spacer) var(--_spacer);

    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.proj-element {
    display: grid;
    grid-template-rows: min-content;
    gap: var(--_spacer);
    padding: var(--_spacer);
    background: #66BFBF;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.proj-element > img {
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--_spacer, 1rem);
}

.snaps-inline > * {
    scroll-snap-align: start;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Fauna One', serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

